.normal{
  font-size: 0.5rem;
}
.content {
  overflow: auto;
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  top: 0rem;
  width: 100%;
}
.modal_mask{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55,55,55,.6);
  height: 100%;
  z-index: 1000;
  filter: alpha(opacity=50);
}
.modal_content{
  position: fixed;
  overflow: auto;
  top: 10%;
  right: 0;
  bottom: 15%;
  left: 10%;
  right:10%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: #fff;
  border-radius: 4px;
  /*position: fixed;*/
  /*top: 10%;*/
  /*left: 50%;*/
  /*z-index: 1050;*/
  /*width: 560px;*/
  /*bottom: 15%;*/
  /*margin-left: -280px;*/
  /*background-color: #fff;*/
  /*border: 1px solid #999;*/
  /*border: 1px solid rgba(0,0,0,0.3);*/
  /*-webkit-border-radius: 6px;*/
  /*-moz-border-radius: 6px;*/
  /*border-radius: 6px;*/
  /*outline: 0;*/
  /*-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
  /*-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
  /*box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
  /*-webkit-background-clip: padding-box;*/
  /*-moz-background-clip: padding-box;*/
  /*background-clip: padding-box;*/
}
.rc-tree-checkbox{
  width: 50px;
  height: 50px;
}
