.open {
  display: none;
}
.tree_label{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 0.6rem;
  align-items: center;

}
.expand_btn{
  height: 50%;
  width: 0.3rem;
  text-align: center;
  background: url(../../../images/icon_postPic.png) no-repeat;
  background-size: 100% 100%;
}
.select_check_box{
  height: 0.3rem;
  width: 0.3rem;
  padding-left: 0.3rem;
}
